<h1>Add new work</h1>

<%= form_for :art_work, url: "/art_works/#{@art_work.id}", html: {multipart: true}, method: :post do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.file_field :attachment %>
  <%= f.submit %>
<% end %>